# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* Understand basic arithmetic expressions in Python.
* Convert between different units (minutes to hours).
* Explore markdown formatting for data science notebooks.

## Some popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Some commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. NumPy (Python)
3. Matplotlib (Python)
4. Scikit-learn (Python)
5. TensorFlow (Python)
6. ggplot2 (R)
7. dplyr (R)

| Data Science Tools |
| --- |
| Jupyter Notebook |
| JupyterLab | 
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
min = 200
hr = min/60
print(hr)

3.3333333333333335

## Author
Prafulla Chandra